@import '../../styles/utility.scss';

.not-found-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  @include backgroundStyleWithPicture;

  .not-found-page {
        text-align: center;
        background-color: #ffffff;
        padding: 30px 100px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1.5rem;
      color: #6c757d;
      margin-bottom: 2rem;
    }
  
    button {
      padding: 10px 20px;
      font-size: 1rem;
      color: #fff;
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  
}
