.card {
    background-color: #eaf7fc;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;

    p {
        font-size: 14px;
        color: #666;
        margin: 5px 0;
    }

    .employee-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        margin-top: 15px;
        color: #666;

        .icon {
            margin-right: 5px;
            font-size: 18px;
        }
    }

    #sendIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #007bff;
        border: none;
        border-radius: 50%;
        color: white;
        font-size: 25px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, transform 0.2s ease;
        margin-right: auto;
    }
    
    #sendIcon:hover {
        background-color: #0056b3;
    }
    
    #sendIcon:active {
        background-color: #004494;
        transform: translateY(1px);
    }

    &:hover {
        transform: translateY(-5px);
    }

    h3 {
        font-size: 20px;
        margin-bottom: 10px;
        color: #333;
    }
}

