/* Layout container for dashboard and sidebar */
.dashboard-layout {
  display: flex;  /* Flexbox to position sidebar and dashboard side by side */
  min-height: 100vh;  /* Full viewport height */
  text-align: right;

  .dashboard-content {
    flex: 1;  /* Allow dashboard content to take the remaining space */
    padding: 20px;
    background-color: #f0f4f7;
    direction: rtl;

    .cards-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  /* Responsive grid for cards */
      gap: 20px;

      .card{
        margin-top: 5px;
      }
    }

    #headerDashboard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      background-color: #f8f9fa;
      border-bottom: 2px solid #dee2e6;
      
      h1 {
        margin: 0;
        font-size: 24px;
        color: #333;
        font-weight: 600;
        border-bottom: 2px solid;
      }


    }
  }
}
