.not-found-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f9fa;
  
    h1 {
      font-size: 3rem;
      color: #343a40;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1.5rem;
      color: #6c757d;
      margin-bottom: 2rem;
    }
  
    button {
      padding: 10px 20px;
      font-size: 1rem;
      color: #fff;
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  