.new-report-page {
    padding: 20px;
    background-color: #f0f4f7;
    min-height: 100vh;
    direction: rtl; // Ensure the page follows right-to-left direction
  
    h1 {
      text-align: center;
      margin-bottom: 30px;
      color: #333;
    }
  
    .form-container {
      display: flex;
      justify-content: space-between; // Space out the columns
      gap: 20px; // Add some space between the two columns
  
      .form-column {
        flex: 1; // Each column takes equal space
  
        .form-group {
          margin-bottom: 20px;
          display: flex;
          justify-content: start; // Align items to the right
          align-items: center; // Vertically align label and input
  
          #comments {
            height: 50px; // Adjust the height to make the input taller
          }
  
          label {
            margin-left: 10px; // Add spacing to the left of the label
            min-width: 150px; // Set minimum width for consistent alignment
          }
  
          input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
            max-width: 400px;
            display: block;
            flex: 1;
          }
        }
      }
    }
  
    .buttons-container {
      margin-top: 30px;
      display: flex;
      justify-content: space-between; // Align the buttons to opposite corners
  
      button {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          opacity: 0.9;
        }
  
        &:active {
          transform: translateY(2px); // Add a pressed effect
        }
      }
  
      .delete-button {
        background-color: #e63946; // Red color for delete
        color: #fff;
  
        &:hover {
          background-color: #c62d3a;
        }
      }
  
      .submit-button {
        background-color: #4caf50; // Green color for submit
        color: #fff;
  
        &:hover {
          background-color: #3e8e41;
        }
      }

      .comment-button {
        background-color: #b921ff; // Green color for submit
        color: #fff;
  
        &:hover {
          background-color: #7600ad;
        }
      }

    }
  }
  